
.ProductList h1 {
  color: hotpink;
}

.ProductList-link {
  margin: 15px auto;
  width: 200px;
  display: block;
  font-size: 2rem; 
  text-decoration: none;
  border: solid 3px black;
  background-color: white;
  letter-spacing: 2px;
}