

.ProductDetail {
  border: solid 5px white;
  margin: 15px auto 15px auto;
  width: 300px;
  background-color: white;
  color: dimgray;
}

.ProductDetail img {
  border: solid 3px dimgray;
  padding: 5px;
  max-width: 200px;
  max-height: 200px;
}
